In [1]:
import pandas as pd
import numpy as np

In [2]:
raw_cl = pd.read_csv('crime_landUse_MAN.csv')
raw_cl

,CrimeType,DayofWeek,TimeRange,Time,Day,Lot,LandUseID,LandUse,CrimeTypeID
0,ASSAULT,Sunday,20-21,20,1,33,4,Mixed Residential & Commercial Buildings,3
1,LARCENY,Monday,17-18,17,2,21,2,Multi-Family Walk-Up Buildings,1
2,LARCENY,Friday,23-24,23,6,29,8,Public Facilities & Institutions,1
3,LARCENY,Tuesday,18-19,18,3,36,5,Commercial & Office Buildings,1
4,HARASSMENT,Thursday,19-20,19,5,29,8,Public Facilities & Institutions,2
...,...,...,...,...,...,...,...,...,...
201570,LARCENY,Friday,17-18,17,6,62,4,Mixed Residential & Commercial Buildings,1
201571,LARCENY,Sunday,10-11,10,1,7,4,Mixed Residential & Commercial Buildings,1
201572,LARCENY,Friday,20-21,20,6,52,2,Multi-Family Walk-Up Buildings,1
201573,LARCENY,Sunday,20-21,20,1,1,9,Open Space and Outdoor Recreation,1
201574,LARCENY,Saturday,13-14,13,7,16,2,Multi-Family Walk-Up Buildings,1

In [3]:
from sklearn import preprocessing
#label = preprocessing.LabelEncoder()
#crime = label.fit_transform(raw_cl.CrimeType)
days = pd.get_dummies(raw_cl.DayofWeek)
landuses = pd.get_dummies(raw_cl.LandUseID)
times = pd.get_dummies(raw_cl.Time)
cl=pd.concat([landuses,times,raw_cl.CrimeTypeID],axis=1)
#cl['crime']=crime

In [4]:
from sklearn.model_selection import train_test_split
training,test=train_test_split(cl,train_size=0.8,random_state=42)

In [5]:
larceny = training.CrimeTypeID == 1
la = training[larceny]
la

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,CrimeTypeID
155239,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
125896,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
92378,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
66824,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
156043,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110268,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
103694,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
131932,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
146867,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
121958,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
remove = training[training.CrimeTypeID == 1].sample(67000,random_state=42)
new_training = training[~training.index.isin(remove.index)]
#remove1 = new_training1[new_training1.crime == 1].sample(3064,random_state=42)
#new_training2 = new_training1[~new_training1.index.isin(remove1.index)]
#remove2=new_training2[new_training2.crime == 0].sample(736,random_state=42)
#new_training = new_training2[~new_training2.index.isin(remove2.index)]

In [7]:
larceny = new_training.CrimeTypeID== 1
la = new_training[larceny]
la

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,CrimeTypeID
92378,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
171485,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
194658,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
138845,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
91132,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194027,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
16023,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
110268,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
131932,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
146867,0,0,0,0,1,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1

In [8]:
harassment = new_training.CrimeTypeID== 2
ha = new_training[harassment]
ha

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,CrimeTypeID
45847,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,2
40419,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
31148,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
156531,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2
36053,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59735,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,2
175203,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,2
126324,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,2
112727,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
119879,0,0,0,1,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,2

In [9]:
assault = new_training.CrimeTypeID== 3
aa = new_training[assault]
aa

,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,CrimeTypeID
35829,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
130760,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
93341,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
173119,0,0,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,3
152519,0,1,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84654,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,3
130523,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
84478,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
5311,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
87498,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3

In [10]:
train,validation=train_test_split(new_training,train_size=0.8,random_state=42)

In [11]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import log_loss
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn.metrics import precision_score
feature_list = train.columns.tolist()
feature_list = feature_list[:len(feature_list) - 1]

In [12]:
import lightgbm as lgb
model_lgb =lgb.LGBMClassifier(objective='multiclass', num_class=3,random_state=42).fit(train[feature_list], train.CrimeTypeID)
pred_lgb_value = np.array(model_lgb.predict(test[feature_list]))
predicted_lgb = np.array(model_lgb.predict_proba(test[feature_list]))
log_loss(test.CrimeTypeID, predicted_lgb),confusion_matrix(test.CrimeTypeID,pred_lgb_value),f1_score(test.CrimeTypeID,pred_lgb_value,average="weighted")

(1.0119382577393008, array([[14041,  6246,  4984],
        [ 2834,  3139,  1706],
        [ 2188,  2119,  3058]], dtype=int64), 0.5246782027506632)

max_depth & num_leaves

In [14]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import log_loss
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score
from sklearn.model_selection import GridSearchCV

In [16]:
parameters = {
    'max_depth': [4,6,8],
    'num_leaves': [20,30,40]
}

gbm = lgb.LGBMClassifier(learning_rate=0.1,num_iterations = 200,random_state=42)
gsearch1 = GridSearchCV(gbm, param_grid=parameters, scoring='neg_log_loss', cv=5)
gsearch1.fit(validation[feature_list], validation.CrimeTypeID)

print('参数的最佳取值:{0}'.format(gsearch1.best_params_))
print('最佳模型得分:{0}'.format(gsearch1.best_score_))

C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))
C:\Users\volca\.conda\envs\GEO503\lib\site-packages\lightgbm\engine.py:148: UserWarning: Found `num_iterations` in params. Will use it instead of argument
  warnings.warn("Found `{}` in params. Will use it instead of argument".format(alias))

参数的最佳取值:{'max_depth': 4, 'num_leaves': 20}
最佳模型得分:-1.0477408452302635

In [17]:
import lightgbm as lgb
model_lgb =lgb.LGBMClassifier(objective='multiclass', 
                              num_class=3,
                              random_state=42,
                             max_depth=4,
                             num_leaves=20).fit(train[feature_list], train.CrimeTypeID)
pred_lgb_value = np.array(model_lgb.predict(test[feature_list]))
predicted_lgb = np.array(model_lgb.predict_proba(test[feature_list]))
log_loss(test.CrimeTypeID, predicted_lgb),confusion_matrix(test.CrimeTypeID,pred_lgb_value),f1_score(test.CrimeTypeID,pred_lgb_value,average="weighted")

(1.0118185373707556, array([[14901,  6454,  3916],
        [ 3086,  3254,  1339],
        [ 2486,  2244,  2635]], dtype=int64), 0.5346389391572705)